.site-header{
    height: 4rem;
    background-color: var(--white);
    border-top:2px solid var(--mycolor);
    padding: 1rem;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
    z-index: 800;
}

.header-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navigation a:not(:first-child){
    margin-left: 1rem;
}

.site-header a{
    color: var(--dark);
}

.site-header a:hover{
    text-decoration: underline;
}